In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import StandardScaler

from sklearn.feature_selection import RFE

In [8]:
df = pd.read_csv("Data_processed.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head()

   Missed_App   GapDays       Age  ...  SMS_received  Gender_Female  show
0   -1.720536 -0.666084  1.054751  ...             0              1     1
1   -1.720497 -0.666084  0.787598  ...             0              0     1
2   -1.720458 -0.666084  1.054751  ...             0              1     1
3   -1.720418 -0.666084 -1.349626  ...             0              1     1
4   -1.720379 -0.666084  0.787598  ...             0              1     1

[5 rows x 11 columns]

In [9]:
df.shape

(106980, 11)