In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [4]:
df = pd.read_csv("Data_processed.csv")
df.head()

,Unnamed: 0,showUp_diff,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,Gender_Female,show
0,0,-0.666084,1.054751,0,1,0,0,0,0,1,1
1,1,-0.666084,0.787598,0,0,0,0,0,0,0,1
2,2,-0.666084,1.054751,0,0,0,0,0,0,1,1
3,3,-0.666084,-1.349626,0,0,0,0,0,0,1,1
4,4,-0.666084,0.787598,0,1,1,0,0,0,1,1